*{
    margin:0;padding:0;
}
html,body{
    width:100%;
    height:100%;
}
.swiper-container{
    width:100%;
    height:100%;
}
.swiper-slide{
    position: relative;
}
.p1{
    width: 100%;
    height:100%;
    position: absolute;
    top:0;left:0;
}
.p2{
    width: 3.59rem;
    height:1.43rem;
    position: absolute;
    left:2.5rem;
    top: 1.6rem;
}
.p3{
    width: 4.5rem;
    position: absolute;
    left:1.7rem;
    top: 2rem;
}
.p4{
    width: 4.45rem;
    position: absolute;
    left:1.8rem;
    top: 1.6rem;
}

.btn{
    width: 1.2rem;
    position: absolute;
    right:0.46rem;
    top: 0.3rem;
    cursor: pointer;
}
