*{
    margin:0;padding:0;
}
html,body{
    width:100%;
}
.swiper-container{
    width:100%;
    position: absolute;
    top:1.5rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    top:0.2rem;
    z-index: 999;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
}
.swiper-pagination-bullet{
    width:6px;
    height:6px;
    background:#949494;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #E91939;
}
.header{
    width:100%;
    height:1.5rem;
    background: #394249;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
}
.nav{
    width:0.5rem;
    height:1.2rem;
    margin-left: 10px;
    margin-top:0.6rem;
    float: left;
}
.line{
    width:20px;
    height:2px;
    margin:7px 0;
    background: #fff;
}
.logo{
    float: left;
    width:0.8rem;
    height:1.2rem;
    background: url("../images/logo.png") no-repeat;
    background-size: 0.8rem;
    margin-top:0.52rem;
}
.title{
    position: absolute;
    top:0.65rem;
    font-size: 24px;
    color: #fff;
    left:1.6rem;
}
.live{
    width: 1.2rem;
    height:1.2rem;
    float: right;
    background: url("../images/1.png") no-repeat;
    background-size: 1rem;
    margin-top: 0.4rem;
}
.content{
    width:100%;
 }
.con{
    width:100%;
    height:4.2rem;
    background: red;
    overflow: hidden;
    position: relative;
}
.con_l{
    width:50%;
    height:100%;
    float: left;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-box-sizing: border-box;
}
.con_r{
    width:50%;
    height:100%;
    float: left;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-box-sizing: border-box;
}
.fenlei{
    width: 1.4rem;
    background: #fff;
    opacity: .8;
    z-index: 100;
    border-radius: 5px;
    color: #CC2922;
    font-size: 0.3rem;
    line-height: 0.5rem;
    text-align: center;
    position: absolute;
    left:-0.1rem;
    top:-0.6rem;
}
.name{
    width: 90%;
    z-index: 100;
    border-radius: 5px;
    color: #fff;
    font-size: 0.4rem;
    padding: 0 0.5rem;
}
.box{
    width:100%;
    position: absolute;
    bottom: 0.46rem;
    z-index: 100;
}
.book{
    width:100%;
    margin-top: 5rem;
    text-align: center;
    color: #666;
    font-size: 0.3rem;
}
.book_button{
    width: 50%;
    height:0.8rem;
    margin:1rem auto;
    color:#E91939;
    border: 1px solid #666;
    border-radius: 50px;
    font-size: 0.4rem;
    font-weight: 800;
    text-align: center;
    line-height: 0.8rem;
}
.meau_list{
    width:75%;
    height:100%;
    position:absolute;
    top:0;left:-75%;
    z-index: 999;
}
@keyframes nav {
    0% {
        left:-75%;
    }
    100% {
        left:0;
    }
}
@keyframes nav1 {
    0% {
        left:0;
    }
    100% {
        left:-75%;
    }
}
.left{
    width:100%;
    height:100%;
    float: left;
    background: #DADEDF;

    position: absolute;
}
.list_title{
    width:100%;
    height:1.2rem;
    padding-top: 0.3rem;
    border-bottom: 2px solid #dadedf;
    color:#666;
    font-size: 0.4rem;
}
.list_title li:nth-child(1){
    border-bottom: 2px solid #E91939;
    color:#E91939;
}
.list_title li{
    float:left;
    width:33.333%;
    height:100%;
    text-align: center;
    line-height: 1.3rem;
}
.list_con{
    width:100%;
}
.list_con a{
    display: block;
    float: left;
    width:33.3333%;
    height: 1.9rem;
    background: #fff;
    position: relative;
    border-right: 1px solid #dadedf;
    border-bottom: 1px solid #dadedf;
    box-sizing: border-box;
}
.list_con a:nth-child(3),.list_con a:nth-child(6),.list_con a:nth-child(9),.list_con a:nth-child(12),.list_con a:nth-child(15){
    border-right: none;
}
.pic{
    width: 40px;
    margin: 0.3rem auto;
}
.description{
    position: absolute;
    bottom:0.2rem;
    width:100%;
    font-size: 0.3rem;
    color: #666;
    text-align: center;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height:0.8rem;
    background: #E91939;
    color: #fff;
    font-size: 0.4rem;
}
.footer li{
    float: left;
    width:33.3333%;
    height: 0.6rem;
    margin-top: 0.1rem;
    text-align: center;
    line-height: 0.6rem;
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
.footer li:last-child{
    border-right: none;
}